/* mise en page des éléments */
body {
    background-color: rgb(2, 26, 29);
        margin: 12%; /* enlever l'espace par défaut */
        margin-top: -10%;
        padding: 1%;  
      }
      header,
      section,
      footer {
        padding-top: 4%;
        margin-top: 4%;
        border-radius: 25px;
      }
 
/* mise en page de la barre de nav */
#barrenav{
  margin: 0px;
  padding-bottom: 7%;
  padding-top: 1.5%;
  padding-left: 7%;
  background-color:rgb(95, 201, 233);
}
#nav-about,
#nav-loves,
#nav-contact {
  width: 11%;
   margin-right:10%;
   margin-left: 7.5%;
   padding:2%;
   text-align: center;
   background-color: rgb(235, 199, 123);
   border-radius: 20px;
   font-family: Arial, Helvetica, sans-serif; font-weight: bold;
   box-shadow: 2px 1px 20px 1px rgb(20, 126, 158);
}

/* mise en page du corps du texte */
a{text-decoration: none; color: #342481; font-size: 100%;
}
a:hover{color: rgb(122, 35, 3);
}

p{font-size: 18px; font-family: 'Arial', sans-serif;
line-height: 20px; /* interligne du paragraphe */ color: rgb(39, 38, 38);
}
h1 {font-size: 75px ; line-height: 20px;
}

h1.title {font-family: 'Arial', sans-serif; text-align: left;
}

h2 {font-size: 32px;
}

h3 {color: rgb(39, 38, 38);font-family: Arial, sans-serif; font-weight: bold;
}

h6 {color: chocolate; font-size: 30px; font-family: Georgia, 'Times New Roman', Times, serif; text-align: center; 
}

.title {font-family: Verdana, Geneva, Tahoma, sans-serif;color: rgb(244, 155, 96); text-align: center;
}
.soustitre {font-family: Arial, Helvetica, sans-serif;color: rgb(228, 153, 118);
}
.soustitre2 {font-family: Arial, sans-serif;color: rgb(228, 153, 118); font-weight: lighter; font-size: 25px;
}

/* mise en page des sections */
#Apropos
{background-color: rgb(12, 154, 197);
  padding-left: 10%; padding-right: 10%; padding-bottom: 8%; padding-top: 3%;
}

#loves
{background-color: rgb(6, 111, 143);
  padding-left: 10%; padding-right: 10%; padding-bottom: 4%;
}

#reseaux
{background-color: rgb(6, 90, 116) ;
padding-left: 10%; padding-right: 5%; padding-bottom: 2%;
}

#contact
{background-color: rgb(235, 199, 123);
  padding-left: 100px; padding-right: 100px; padding-bottom: 30px;
}


/* mise en page des images */

img.profile {border-radius: 50%;width: 40%; float: inline-end; box-shadow: 5px 5px 30px 1px rgb(3, 49, 63);
}

img.carte {height: 110%;width: 110%;
}
img.air {height: 70%;width: 70%
}

img.chat {border-radius: 50%; height:70%; width: 70%;
}
img.poisson {border-radius: 50%; height:70%; width: 50%;
}
img.ceviche {border-radius: 50%; height:70%; width: 75%;
}
img.sushi {border-radius: 50%; height:70%; width: 70%;
}

img.insta {border-radius: 50%; height: 110%; width: 120%;
}
img.behance {border-radius: 50%; height: 110%; width: 50%;
}

/* mise en page des listes flexbox */
.flex-container {

  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 1%;
  
}

.flex-contact{
  list-style: none;
  display: flex;
  justify-content: space-around;

}
  
ul { 
	padding: 0px; 
	margin: 0px;
	left: 0%;
	position: relative;
}
ul li {
	display: block;
	float: left;
	padding: 0px 10px;
  margin: 0px;}

